<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatBot (Development).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ChatBot (Production).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ChatBot copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>VarakushCashier.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A7AE5A123F935B000DC2243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A7AE5F523F9490F00DC2243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB57EBA231C5E4F00A22A8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB57ECE231C5E5100A22A8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
